#about{
	margin-top: 4em;
	padding: 5em 0 0;

	#photo-jenn{
		max-width: 100%;
		border-radius: 20px;
	}

	h3{
		margin-top: 0;
		text-transform: uppercase;
		font-weight: 700;
	}

	p, li{
		font-size: 1.2em;
    	line-height: 1.5em;
    	font-weight: 300;
    	margin-bottom: 1em;
	}

	ul{
		margin-bottom: 1em;
	}

	li{
		margin-bottom: 0;
	}

	.review{
		// color: #898989;
		font-size: 1em;
		font-style: italic;
		margin-top: 1em;
		margin-bottom: 2em;

		.attribution{
			color: #AEBBBD;
			display: block;
			font-size: 0.8em;
			text-align: right;
			margin-top: 0.5em;
		}

		.review-img{
			margin: 0 0 1em 1em;
			width: 20%;
			float: right;
			// vertical-align: top;

			img{
				// vertical-align: top;
				border-radius: 4px;
				width: 100%;
				float: right;
			}
		}

		.review-text{
			display: inline-block;
			// width: 82%;
		}

		&:last-of-type{
			margin-bottom: 3em;
		}
	}
}