#blog{
	// margin-top: 4em;

	#article-list{
		margin-top: 4em;

		.post-card{
			margin-top: 2em;
			margin-bottom: 2em;

			.post-image{
				img{
					width: 100%;
				}
			}

			.post-blurb{
				h2{
					margin-top: 0;
				}

				p{
					font-size: 1.2em;
				}
			}
		}
	}

	#single-article{
		margin-top: 8em;

		h1{
			font-weight: 700;
			text-transform: uppercase;
			@include grad-launch;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-align: center;
			font-size: 3.5em;
			margin-bottom: 0.5em;
			margin-top: 1em;
		}

		h2{
			font-weight: bold;
			font-size: 2.25em;
		}

		p, li{
			font-size: 1.3em;
			line-height: 1.475em;
			margin-bottom: 1em;
			font-weight: 300;
		}

		#post-intro{
			img{
				width: 100%;
			}
		}

		.video{
			margin-top: 1em;
			margin-bottom: 3em;
			position: relative;
		    padding-bottom: 56.25%;
		    padding-top: 30px; 
		    height: 0; 
		    overflow: hidden;

		    iframe, object, embed {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			}
		}
	}

	#post-comments{
		margin-top: 4em;
	}
}