#service-detail-page{
	margin-top: 6em;

	h1{
		font-weight: 700;
		text-transform: uppercase;
		@include grad-launch;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-align: center;
	}

	p, li{
		font-size: 1.175em;
		line-height: 1.65em;
		font-weight: 300;
	}

	li{
    	// margin-bottom: 0;
	}

	.button-full{
		margin-top: 0;
		margin-bottom: 3em;
	}

	#mc_embed_signup{
		background: none;

		.button{
			margin: 0 auto;
			width: auto;
			color: rgba(35,181,233,0.85);
			border: 2px solid rgba(35,181,233,0.85);
			border-radius: 5px;
			text-transform: uppercase;
			padding: 0.4em 2em;
			font-size: 1.2em;
			font-weight: 700;
			background: none;
			line-height: 1em;
			-webkit-transition: background 0.2s ease-in-out;
			-webkit-transition: color 0.3s ease-in-out;

			&:hover{
				background: rgba(35,181,233,0.85);
				color: #fff;
				text-decoration: none;
			}
		}
	}

	.review{
		color: #898989;
		font-size: 1em;
		font-style: italic;
		margin-top: 1em;

		.attribution{
			color: #AEBBBD;
			display: block;
			font-size: 0.8em;
			text-align: right;
			margin-top: 0.5em;
		}

		.review-img{
			display: inline-block;
			margin-right: 1em;
			width: 12%;
			vertical-align: top;

			img{
				vertical-align: top;
				border-radius: 4px;
				width: 100%;
			}
		}

		.review-text{
			display: inline-block;
			width: 82%;
		}

		&:last-of-type{
			margin-bottom: 3em;
		}
	}

	@media (max-width: 768px) {
		#mc_embed_signup{
			.button{
				width: 100% !important;
			}
		}
	}
}