# Enable mod_rewrite, start rewrite engine 
RewriteEngine on

# Block source code viewing
RewriteRule "(^|/)(CVS|\.svn|\.git)/" - [F]

RewriteRule ^success(/)*$ success.php [NC]
RewriteRule ^live-design-audit(/)*$ live-audit-landing.php [NC]
RewriteRule ^office-hours(/)*$ http://mostlybrilliant.co/live-design-audit [L,R=301]