# Enable mod_rewrite, start rewrite engine 
Options +FollowSymLinks
RewriteEngine on

# Block source code viewing
RewriteRule "(^|/)(CVS|\.svn|\.git)/" - [F]

RewriteRule ^live-design-audit(/)*$ /live-ux-audit [R=301,L]
RewriteRule ^office-hours(/)*$ http://mostlybrilliant.co/live-design-audit [R=301,L]
RewriteRule ^about(/)*$ about.php [NC]
RewriteRule ^beta(/)*$ / [R=301,L]
RewriteRule ^articles/?$ blog-home.php [NC,L]
RewriteRule ^articles/([-A-z0-9]+)/?$ blog-post.php?slug=$1 [NC,L]
RewriteRule ^consult-call(/)*$ service-call.php [NC]
RewriteRule ^live-ux-audit(/)*$ service-live-ux-audit.php [NC]
RewriteRule ^optimize-basics(/)*$ service-optimize-basic.php [NC]
RewriteRule ^optimize-premium(/)*$ service-optimize-premium.php [NC]
RewriteRule ^order-call(/)*$ charge-call.php [NC]
RewriteRule ^order-ux-audit(/)*$ charge-ux-audit.php [NC]
RewriteRule ^services(/)*$ services.php [NC]
RewriteRule ^success(/)*$ success.php [NC]
RewriteRule ^thanks(/)*$ live-audit-sub-thanks.php [NC]
RewriteRule ^ux-audit(/)*$ service-ux-audit.php [NC]