# Enable mod_rewrite, start rewrite engine 
Options +FollowSymLinks
RewriteEngine on

# Block source code viewing
RewriteRule "(^|/)(CVS|\.svn|\.git)/" - [F]

RewriteRule ^live-design-audit(/)*$ live-audit-landing.php [NC]
RewriteRule ^office-hours(/)*$ http://mostlybrilliant.co/live-design-audit [R=301,L]
RewriteRule ^success(/)*$ success.php [NC]
RewriteRule ^thanks(/)*$ live-audit-sub-thanks.php [NC]
