@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900");
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

body {
  font-family: 'Muli', Helvetica, sans-serif; }

a {
  color: #00AAD3; }

.navbar {
  z-index: 20;
  border-bottom: 0;
  margin-bottom: 0;
  background: none;
  border: 0;
  border-radius: 0;
  color: #fff; }
  .navbar .navbar-brand {
    color: #fff;
    padding: 5px 15px 0; }
    .navbar .navbar-brand img {
      height: 45px; }
  .navbar .navbar-nav li a {
    color: #fff;
    padding-top: 20px; }
  .navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background: -moz-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(35, 181, 233, 0.85)), color-stop(100%, rgba(0, 167, 162, 0.85)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%);
    /* ie10+ */
    background: linear-gradient(320deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23B5E9', endColorstr='#00A7A2',GradientType=0 );
    /* ie6-9 */ }

footer {
  text-align: center;
  padding: 1.5em 0 1em; }

#hero {
  background: -moz-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%), url("img/hero-bg2.jpg");
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(35, 181, 233, 0.85)), color-stop(100%, rgba(0, 167, 162, 0.85))), url("img/hero-bg2.png");
  /* safari4+,chrome */
  background: -webkit-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%), url("img/hero-bg2.jpg");
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%), url("img/hero-bg2.jpg");
  /* opera 11.10+ */
  background: -ms-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%), url("img/hero-bg2.jpg");
  /* ie10+ */
  background: linear-gradient(320deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%), url("img/hero-bg2.jpg");
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23B5E9', endColorstr='#00A7A2',GradientType=0 );
  /* ie6-9 */
  background-size: cover;
  background-position: center center;
  padding: 9em 0 8em;
  color: #fff;
  margin-top: -55px; }
  #hero h1 {
    text-align: center;
    font-size: 3.5em;
    max-width: 70%;
    margin: 0 auto;
    line-height: 1.25em;
    font-weight: 800;
    letter-spacing: 0.01em; }

#service-preview {
  margin: 4em auto; }
  #service-preview h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 0.04em;
    font-weight: 800;
    margin-bottom: 0.15em; }
  #service-preview h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.035em;
    margin-top: 0; }
  #service-preview p {
    max-width: 80%;
    margin: 0 auto;
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: 200;
    text-align: justify; }
  #service-preview #launch h2 {
    background: -moz-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #00a7a2), color-stop(100%, rgba(0, 206, 200, 0.85)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%);
    /* ie10+ */
    background: linear-gradient(320deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a7a2', endColorstr='#00CEC8',GradientType=0 );
    /* ie6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #service-preview #optimize h2 {
    background: -moz-linear-gradient(130deg, rgba(35, 181, 233, 0.85) 0%, #0087a7 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #0087a7), color-stop(100%, rgba(35, 181, 233, 0.85)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(130deg, rgba(35, 181, 233, 0.85) 0%, #0087a7 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(130deg, rgba(35, 181, 233, 0.85) 0%, #0087a7 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(130deg, rgba(35, 181, 233, 0.85) 0%, #0087a7 100%);
    /* ie10+ */
    background: linear-gradient(320deg, rgba(35, 181, 233, 0.85) 0%, #0087a7 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0087A7', endColorstr='#23B5E9',GradientType=0 );
    /* ie6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

#intro {
  background: rgba(0, 0, 0, 0.02);
  margin-bottom: 2em;
  border-top: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%) 10 stretch;
  /* ff3.6+ */
  -webkit-border-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(35, 181, 233, 0.85)), color-stop(100%, rgba(0, 167, 162, 0.85))) 10 stretch;
  /* safari4+,chrome */
  -webkit-border-image: -webkit-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%) 10 stretch;
  /* safari5.1+,chrome10+ */
  -o-border-image: -o-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%) 10 stretch;
  /* opera 11.10+ */
  -ms-border-image: -ms-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%) 10 stretch;
  /* ie10+ */
  border-image: linear-gradient(320deg, rgba(35, 181, 233, 0.85) 0%, rgba(0, 167, 162, 0.85) 100%) 10 stretch;
  /* w3c */ }
  #intro p {
    padding: 3.5em 10em 3em;
    font-size: 1.3em;
    line-height: 1.75em;
    text-align: justify; }

p.intro {
  line-height: 1.5em;
  color: #8c8c8c;
  font-size: 1.01em;
  margin-bottom: 1em;
  max-width: 100%;
  text-align: center; }

#service-options {
  background: rgba(0, 0, 0, 0.02);
  padding: 5em 0 4em;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%) 10 stretch;
  /* ff3.6+ */
  -webkit-border-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(35, 181, 233, 0.85)), color-stop(100%, rgba(0, 167, 162, 0.85))) 10 stretch;
  /* safari4+,chrome */
  -webkit-border-image: -webkit-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%) 10 stretch;
  /* safari5.1+,chrome10+ */
  -o-border-image: -o-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%) 10 stretch;
  /* opera 11.10+ */
  -ms-border-image: -ms-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%) 10 stretch;
  /* ie10+ */
  border-image: linear-gradient(320deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%) 10 stretch;
  /* w3c */ }
  #service-options .intro {
    text-align: left; }
  #service-options .service-img {
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 2em; }
    #service-options .service-img h2 {
      font-weight: 700;
      font-size: 2.2em;
      letter-spacing: 0.05em;
      vertical-align: middle; }
    #service-options .service-img.service-launch h2 {
      background: -moz-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%);
      /* ff3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #00a7a2), color-stop(100%, rgba(0, 206, 200, 0.85)));
      /* safari4+,chrome */
      background: -webkit-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%);
      /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%);
      /* opera 11.10+ */
      background: -ms-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%);
      /* ie10+ */
      background: linear-gradient(320deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%);
      /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a7a2', endColorstr='#00CEC8',GradientType=0 );
      /* ie6-9 */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    #service-options .service-img.service-optimize h2 {
      background: -moz-linear-gradient(130deg, rgba(35, 181, 233, 0.85) 0%, #0087a7 100%);
      /* ff3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #0087a7), color-stop(100%, rgba(35, 181, 233, 0.85)));
      /* safari4+,chrome */
      background: -webkit-linear-gradient(130deg, rgba(35, 181, 233, 0.85) 0%, #0087a7 100%);
      /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(130deg, rgba(35, 181, 233, 0.85) 0%, #0087a7 100%);
      /* opera 11.10+ */
      background: -ms-linear-gradient(130deg, rgba(35, 181, 233, 0.85) 0%, #0087a7 100%);
      /* ie10+ */
      background: linear-gradient(320deg, rgba(35, 181, 233, 0.85) 0%, #0087a7 100%);
      /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0087A7', endColorstr='#23B5E9',GradientType=0 );
      /* ie6-9 */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  #service-options .service-info {
    padding: 0 2em;
    border-left: 4px solid transparent;
    border-image-slice: fill;
    margin-bottom: 2em; }
    #service-options .service-info p, #service-options .service-info li {
      font-size: 1.1em;
      line-height: 1.5em;
      font-weight: 300;
      margin-bottom: 1em; }
    #service-options .service-info ul {
      margin-left: -23px; }
      #service-options .service-info ul li {
        margin-bottom: 0; }
    #service-options .service-info.service-launch {
      -moz-border-image: -moz-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%) 10 stretch;
      /* ff3.6+ */
      -webkit-border-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #00a7a2), color-stop(100%, rgba(0, 206, 200, 0.85))) 10 stretch;
      /* safari4+,chrome */
      -webkit-border-image: -webkit-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%) 10 stretch;
      /* safari5.1+,chrome10+ */
      -o-border-image: -o-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%) 10 stretch;
      /* opera 11.10+ */
      -ms-border-image: -ms-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%) 10 stretch;
      /* ie10+ */
      border-image: linear-gradient(320deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%) 10 stretch;
      /* w3c */ }
    #service-options .service-info.service-optimize {
      -moz-border-image: -moz-linear-gradient(130deg, rgba(35, 181, 233, 0.85) 0%, #0087a7 100%) 10 stretch;
      /* ff3.6+ */
      -webkit-border-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #0087a7), color-stop(100%, rgba(35, 181, 233, 0.85))) 10 stretch;
      /* safari4+,chrome */
      -webkit-border-image: -webkit-linear-gradient(130deg, rgba(35, 181, 233, 0.85) 0%, #0087a7 100%) 10 stretch;
      /* safari5.1+,chrome10+ */
      -o-border-image: -o-linear-gradient(130deg, rgba(35, 181, 233, 0.85) 0%, #0087a7 100%) 10 stretch;
      /* opera 11.10+ */
      -ms-border-image: -ms-linear-gradient(130deg, rgba(35, 181, 233, 0.85) 0%, #0087a7 100%) 10 stretch;
      /* ie10+ */
      border-image: linear-gradient(320deg, rgba(35, 181, 233, 0.85) 0%, #0087a7 100%) 10 stretch;
      /* w3c */ }

.price {
  font-size: 1.2em; }
  .price .small-cta {
    margin-left: 0.5em;
    font-size: 0.9em; }

#first-steps {
  padding-top: 2em; }
  #first-steps p.intro {
    line-height: 1.5em;
    color: #8c8c8c;
    font-size: 1.01em;
    margin-bottom: 1em;
    max-width: 100%;
    text-align: center; }
  #first-steps p {
    margin: 0 auto;
    line-height: 1.5em;
    font-size: 1.05em;
    font-weight: 200;
    text-align: justify; }
  #first-steps h2 {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    background: -moz-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(35, 181, 233, 0.85)), color-stop(100%, rgba(0, 167, 162, 0.85)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%);
    /* ie10+ */
    background: linear-gradient(320deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23B5E9', endColorstr='#00A7A2',GradientType=0 );
    /* ie6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #first-steps .price {
    font-size: 1.15em; }
    #first-steps .price .small-cta {
      margin-left: 0.5em;
      font-size: 0.9em; }

#about-section {
  margin-top: 4em;
  background: -moz-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(35, 181, 233, 0.85)), color-stop(100%, rgba(0, 167, 162, 0.85)));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(130deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%);
  /* ie10+ */
  background: linear-gradient(320deg, rgba(0, 167, 162, 0.85) 0%, rgba(35, 181, 233, 0.85) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23B5E9', endColorstr='#00A7A2',GradientType=0 );
  /* ie6-9 */
  color: #fff;
  padding: 5em 0 4em; }
  #about-section #photo-jenn {
    max-width: 100%;
    border-radius: 3px; }
  #about-section h3 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 700; }
  #about-section p {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 300;
    margin-bottom: 1em; }
  #about-section a {
    color: #fff;
    font-weight: bold; }

#sign-up-section {
  margin: 4em auto 5em; }
  #sign-up-section #mc_embed_signup {
    margin: 1em 0 0;
    padding: 1em 1em;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #00A9BB;
    background: rgba(0, 0, 0, 0.03);
    width: 100%; }
    #sign-up-section #mc_embed_signup p {
      color: #333; }
    #sign-up-section #mc_embed_signup.live-stream-form {
      text-align: center; }
    #sign-up-section #mc_embed_signup .button {
      background: -moz-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%);
      /* ff3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #00a7a2), color-stop(100%, rgba(0, 206, 200, 0.85)));
      /* safari4+,chrome */
      background: -webkit-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%);
      /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%);
      /* opera 11.10+ */
      background: -ms-linear-gradient(130deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%);
      /* ie10+ */
      background: linear-gradient(320deg, rgba(0, 206, 200, 0.85) 0%, #00a7a2 100%);
      /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a7a2', endColorstr='#00CEC8',GradientType=0 );
      /* ie6-9 */
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: 500; }

@media (max-width: 768px) {
  body {
    max-width: 100%; }

  .navbar-brand img {
    height: 30px !important; }

  #hero {
    padding: 6em 0 4em; }
    #hero h1 {
      font-size: 2em;
      max-width: 100%; }

  #intro p {
    max-width: 100%;
    padding: 3em 0.75em;
    font-size: 1em;
    line-height: 1.35em; }

  #service-preview p {
    max-width: 100%; }

  #service-options .service-img {
    text-align: center; } }

/*# sourceMappingURL=mostlybrilliant.css.map */
