@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900');

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

//------ GLOBAL ------//
body{
	font-family: 'Muli', Helvetica, sans-serif;
}

a{
	color: #00AAD3;
}


ul{
	margin-left: -23px;

	li{
		margin-bottom: 0;
	}
}

.navbar{
	//TODO: add logo
	z-index: 20;
	border-bottom: 0;
	margin-bottom: 0;
	background: none;
	border: 0;
	border-radius: 0;
	color: #fff;
	
	.navbar-brand{
		color: #fff;
		padding: 5px 15px 0;

		img{
			height: 45px;
		}
	}

	.navbar-nav{
		li{
			a{
				color: #fff;
				padding-top: 20px;
				text-transform: uppercase;
			}
		}
	}

	&.affix {
	    position: fixed;
	    top: 0;
	    width: 100%;
	    z-index:10;
	    background: -moz-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(35,181,233,0.85)), color-stop(100%, rgba(0,167,162,0.85))); /* safari4+,chrome */
		background: -webkit-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%); /* ie10+ */
		background: linear-gradient(320deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23B5E9', endColorstr='#00A7A2',GradientType=0 ); /* ie6-9 */
	}
}

@mixin grad-launch{
	background: -moz-linear-gradient(130deg, rgba(0,206,200,0.85) 0%, rgba(0,167,162,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0,167,162,1)), color-stop(100%, rgba(0,206,200,0.85))); /* safari4+,chrome */
	background: -webkit-linear-gradient(130deg, rgba(0,206,200,0.85) 0%, rgba(0,167,162,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(130deg, rgba(0,206,200,0.85) 0%, rgba(0,167,162,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(130deg, rgba(0,206,200,0.85) 0%, rgba(0,167,162,1) 100%); /* ie10+ */
	background: linear-gradient(320deg, rgba(0,206,200,0.85) 0%, rgba(0,167,162,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a7a2', endColorstr='#00CEC8',GradientType=0 ); /* ie6-9 */
}

@mixin grad-optimize{
	background: -moz-linear-gradient(130deg, rgba(35,181,233,0.85) 0%, rgba(0,135,167,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0,135,167,1)), color-stop(100%, rgba(35,181,233,0.85))); /* safari4+,chrome */
	background: -webkit-linear-gradient(130deg, rgba(35,181,233,0.85) 0%, rgba(0,135,167,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(130deg, rgba(35,181,233,0.85) 0%, rgba(0,135,167,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(130deg, rgba(35,181,233,0.85) 0%, rgba(0,135,167,1) 100%); /* ie10+ */
	background: linear-gradient(320deg, rgba(35,181,233,0.85) 0%, rgba(0,135,167,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0087A7', endColorstr='#23B5E9',GradientType=0 ); /* ie6-9 */
}

@mixin grad-full{
	background: -moz-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(35,181,233,0.85)), color-stop(100%, rgba(0,167,162,0.85))); /* safari4+,chrome */
	background: -webkit-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%); /* ie10+ */
	background: linear-gradient(320deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23B5E9', endColorstr='#00A7A2',GradientType=0 ); /* ie6-9 */
}

@mixin grad-full-border{
	-moz-border-image: -moz-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%) 10 stretch; /* ff3.6+ */
	-webkit-border-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(35,181,233,0.85)), color-stop(100%, rgba(0,167,162,0.85))) 10 stretch; /* safari4+,chrome */
	-webkit-border-image: -webkit-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%) 10 stretch; /* safari5.1+,chrome10+ */
	-o-border-image: -o-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%) 10 stretch; /* opera 11.10+ */
	-ms-border-image: -ms-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%) 10 stretch; /* ie10+ */
	border-image: linear-gradient(320deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%) 10 stretch; /* w3c */
}

@mixin grad-full-border-rev{
	-moz-border-image: -moz-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%) 10 stretch; /* ff3.6+ */
	-webkit-border-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(35,181,233,0.85)), color-stop(100%, rgba(0,167,162,0.85))) 10 stretch; /* safari4+,chrome */
	-webkit-border-image: -webkit-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%) 10 stretch; /* safari5.1+,chrome10+ */
	-o-border-image: -o-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%) 10 stretch; /* opera 11.10+ */
	-ms-border-image: -ms-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%) 10 stretch; /* ie10+ */
	border-image: linear-gradient(320deg, rgba(35,181,233,0.85) 0%, rgba(0,167,162,0.85) 100%) 10 stretch; /* w3c */
}

footer{
	// @include grad-full;
	// color: #fff;
	text-align: center;
	padding: 1.5em 0 1em;
}


.button-full{
	text-align: center;
	margin: 4em 0 1em;
}

.payment-button{
	margin-bottom: 3em;
	display: flex;
}

.button{
	margin: 0 auto;
	width: auto;
	color: rgba(35,181,233,0.85);
	border: 2px solid rgba(35,181,233,0.85);
	border-radius: 5px;
	text-transform: uppercase;
	padding: 0.5em 2em;
	font-size: 1.2em;
	font-weight: 700;
	background: none;
	-webkit-transition: background 0.2s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;

	&:hover{
		background: rgba(35,181,233,0.85);
		color: #fff;
		text-decoration: none;
	}
}

.button-alt{
	color: #fff;
	border: 2px solid #fff;

	&:hover{
		color: rgba(35,181,233,0.85) !important;
		background: #fff;
	}
}

//------ LANDING ------//
#hero{
	background: -moz-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%), url('img/hero-bg2.jpg'); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(35,181,233,0.85)), color-stop(100%, rgba(0,167,162,0.85))), url('img/hero-bg2.png'); /* safari4+,chrome */
	background: -webkit-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%), url('img/hero-bg2.jpg'); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%), url('img/hero-bg2.jpg'); /* opera 11.10+ */
	background: -ms-linear-gradient(130deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%), url('img/hero-bg2.jpg'); /* ie10+ */
	background: linear-gradient(320deg, rgba(0,167,162,0.85) 0%, rgba(35,181,233,0.85) 100%), url('img/hero-bg2.jpg'); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23B5E9', endColorstr='#00A7A2',GradientType=0 ); /* ie6-9 */

	background-size: cover;
	background-position: center center;
	padding: 9em 0 8em;
	color: #fff;
	margin-top: -55px;

	h1{
		//TODO: fix size on mobile
		text-align: center;
		font-size: 3.5em;
		max-width: 70%;
		margin: 0 auto;
	    line-height: 1.25em;
	    font-weight: 800;
	    letter-spacing: 0.01em;
	}

	&.hero-short{
		padding: 5em 0 2.5em;
	}
}

#service-preview{
	margin: 4em auto;

	h2{
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 2.5em;
		letter-spacing: 0.04em;
		font-weight: 800;
		margin: 1em 0 0.15em;
	}

	h3{
		text-align: center;
		text-transform: uppercase;
		font-size: 1.5em;
		font-weight: 300;
		letter-spacing: 0.035em;
		margin-top: 0;
	}

	p{
		max-width: 80%;
		margin: 0 auto;
		line-height: 1.5em;
		font-size: 1.2em;
		font-weight: 200;
		text-align: justify;
	}

	#launch{
		margin-top: 1em;

		h2{
			@include grad-launch;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	#optimize{
		margin-top: 1em;

		h2{
			@include grad-optimize;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

#intro{
	//TODO: fix padding on mobile
	// background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0));
	background: rgba(0,0,0,0.02);
	margin-bottom: 2em;
	border-top: 2px solid transparent;
	@include grad-full-border-rev;

	p{
		padding: 3.5em 10em 3em;
		font-size: 1.3em;
    	line-height: 1.75em;
    	text-align: center;
	}
}

p.intro{
	line-height: 1.5em;
	color: #8c8c8c;
	font-size: 1.01em;
	margin-bottom: 1em;
	max-width: 100%;
	text-align: center;
}

#service-options{
	background: rgba(0,0,0,0.02);
	padding: 5em 0 4em;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	@include grad-full-border;

	.intro{
		text-align: left;
	}

	h2{
		@include grad-launch;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;	
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
	}

	p.intro{
		text-align: center;
		margin-bottom: 3em;
	}

	.service-img{
		color: #fff;
		text-align: right;
		text-transform: uppercase;
		margin-bottom: 2em;


		h2{
			font-weight: 700;
			font-size: 2.2em;
			letter-spacing: 0.05em;
			vertical-align: middle;
		}

		&.service-launch{
			h2{
				@include grad-launch;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;	
			}		
		}

		&.service-optimize{
			h2{
				@include grad-optimize;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;	
			}
		}
	}

	.service-info{
		padding: 0 2em;
		border-left: 4px solid transparent;
		border-image-slice: fill;
		margin-bottom: 2em;

		p, li{
			font-size: 1.1em;
	    	line-height: 1.5em;
	    	font-weight: 300;
	    	margin-bottom: 1em;
		}

		li{
			margin-bottom: 0;
		}

		&.service-launch{
			-moz-border-image: -moz-linear-gradient(130deg, rgba(0,206,200,0.85) 0%, rgba(0,167,162,1) 100%) 10 stretch; /* ff3.6+ */
			-webkit-border-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0,167,162,1)), color-stop(100%, rgba(0,206,200,0.85))) 10 stretch; /* safari4+,chrome */
			-webkit-border-image: -webkit-linear-gradient(130deg, rgba(0,206,200,0.85) 0%, rgba(0,167,162,1) 100%) 10 stretch; /* safari5.1+,chrome10+ */
			-o-border-image: -o-linear-gradient(130deg, rgba(0,206,200,0.85) 0%, rgba(0,167,162,1) 100%) 10 stretch; /* opera 11.10+ */
			-ms-border-image: -ms-linear-gradient(130deg, rgba(0,206,200,0.85) 0%, rgba(0,167,162,1) 100%) 10 stretch; /* ie10+ */
			border-image: linear-gradient(320deg, rgba(0,206,200,0.85) 0%, rgba(0,167,162,1) 100%) 10 stretch; /* w3c */
		}

		&.service-optimize{
			-moz-border-image: -moz-linear-gradient(130deg, rgba(35,181,233,0.85) 0%, rgba(0,135,167,1) 100%) 10 stretch; /* ff3.6+ */
			-webkit-border-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0,135,167,1)), color-stop(100%, rgba(35,181,233,0.85))) 10 stretch; /* safari4+,chrome */
			-webkit-border-image: -webkit-linear-gradient(130deg, rgba(35,181,233,0.85) 0%, rgba(0,135,167,1) 100%) 10 stretch; /* safari5.1+,chrome10+ */
			-o-border-image: -o-linear-gradient(130deg, rgba(35,181,233,0.85) 0%, rgba(0,135,167,1) 100%) 10 stretch; /* opera 11.10+ */
			-ms-border-image: -ms-linear-gradient(130deg, rgba(35,181,233,0.85) 0%, rgba(0,135,167,1) 100%) 10 stretch; /* ie10+ */
			border-image: linear-gradient(320deg, rgba(35,181,233,0.85) 0%, rgba(0,135,167,1) 100%) 10 stretch; /* w3c */
		}
	}
}

.price{
	font-size: 1.2em;

	.small-cta{
		margin-left: 0.5em;
		font-size: 0.9em;
	}
}

#first-steps{
	padding-top: 2em;
	margin-top: -2em;
	margin-bottom: 4em;

	p.intro{
		line-height: 1.5em;
		color: #8c8c8c;
		font-size: 1.01em;
		margin-bottom: 1em;
		max-width: 100%;
		text-align: center;
	}

	p{
		margin: 0 auto;
		line-height: 1.5em;
		font-size: 1.05em;
		font-weight: 200;
		text-align: justify;
	}

	h2{
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
		@include grad-full;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;	
	}

	.price{
		font-size: 1.15em;

		.small-cta{
			margin-left: 0.5em;
			font-size: 0.9em;
		}
	}
}

#about{
	margin-top: 4em;
	padding: 5em 0 4em;

	.button-full{
		margin-top: 2em;
	}

	#photo-jenn{
		max-width: 100%;
		border-radius: 20px;
	}

	h3{
		margin-top: 0;
		text-transform: uppercase;
		font-weight: 700;
	}

	p{
		font-size: 1.2em;
    	line-height: 1.5em;
    	font-weight: 300;
    	margin-bottom: 1em;
	}
}

#about-section{
	margin-top: 4em;
	@include grad-full;
	color: #fff;
	padding: 5em 0 4em;

	.button-full{
		margin-top: 2em;
	}

	h3{
		margin-top: 0;
		text-transform: uppercase;
		font-weight: 700;
	}

	p{
		font-size: 1.2em;
    	line-height: 1.5em;
    	font-weight: 300;
    	margin-bottom: 1em;
	}

	a{
		color: #fff;
		font-weight: bold;
	}
}

#sign-up-section{
	margin: 4em auto 5em;

	#mc_embed_signup{
		margin: 1em 0 0;
		padding: 1em 1em;
		border-radius: 2px;
		font-family: 'Open Sans', sans-serif;
		border: 1px solid #00A9BB;
		background: rgba(0,0,0,0.03);
		width: 100%;

		p{
			color: #333;
		}

		&.live-stream-form{
			text-align: center;
		}

		.button{
			color: rgba(35,181,233,0.85);
			background: none;
			border: 2px solid rgba(35,181,233,0.85);
			border-radius: 5px;
			text-transform: uppercase;
			padding: 0.4em 1.5em 0.5em;
		    font-size: 1.2em;
		    font-weight: 700;
		    line-height: 1em;
			-webkit-transition: background 0.5s ease-in-out;

			&:hover{
				background: rgba(35,181,233,0.85);
				color: #fff;
				text-decoration: none;
			}
		}
	}
}



@media (max-width: 768px) {
	body{
		max-width: 100%;
	}

	.navbar-brand{
		img{
			height: 30px !important;
		}
	}

	#hero{
		padding: 6em 0 4em;

		h1{
			font-size: 2em;
			max-width: 100%;
		}
	}

	#intro{
		border: 0;

		p{
			max-width: 100%;
			padding: 3em 0.75em;
			font-size: 1em;
			line-height: 1.35em;
		}
	}

	#service-preview{

		p{
			max-width: 100%;
		}
	}

	#service-options{
		.service-img{
			text-align: center;
		}

		.service-info{
			border: 0;
		}
	}

	.navbar-header, .navbar-collapse{
		@include grad-full;
	}
}

.service-detail-page{
	margin-top: 6em;

	h1{
		font-weight: 700;
		text-transform: uppercase;
		@include grad-launch;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-align: center;
	}

	p, li{
		font-size: 1.175em;
		line-height: 1.65em;
		font-weight: 300;
	}

	li{
    	// margin-bottom: 0;
	}

	.button-full{
		margin-top: 0;
		margin-bottom: 3em;
	}

	#mc_embed_signup{
		background: none;

		.button{
			margin: 0 auto;
			width: auto;
			color: rgba(35,181,233,0.85);
			border: 2px solid rgba(35,181,233,0.85);
			border-radius: 5px;
			text-transform: uppercase;
			padding: 0.4em 2em;
			font-size: 1.2em;
			font-weight: 700;
			background: none;
			line-height: 1em;
			-webkit-transition: background 0.2s ease-in-out;
			-webkit-transition: color 0.3s ease-in-out;

			&:hover{
				background: rgba(35,181,233,0.85);
				color: #fff;
				text-decoration: none;
			}
		}
	}

	.review{
		color: #898989;
		font-size: 1em;
		font-style: italic;
		margin-top: 1em;

		.attribution{
			color: #AEBBBD;
			display: block;
			font-size: 0.8em;
			text-align: right;
			margin-top: 0.5em;
		}

		.review-img{
			display: inline-block;
			margin-right: 1em;
			width: 12%;
			vertical-align: top;

			img{
				vertical-align: top;
				border-radius: 4px;
				width: 100%;
			}
		}

		.review-text{
			display: inline-block;
			width: 82%;
		}

		&:last-of-type{
			margin-bottom: 3em;
		}
	}
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */

#payment-form{
	 padding: 0;
  	margin: 0;
	align-items: center;
  	justify-content: center;
  	min-height: 100%;

	.group {
	  background: white;
		border: 1px solid #00A9BB;
	  border-radius: 4px;
	  margin-bottom: 20px;
	}

	label {
	  position: relative;
	  color: #8898AA;
	  font-weight: 300;
	  height: 40px;
	  line-height: 40px;
	  margin: 0 0 0 20px;
	  display: flex;
	  flex-direction: row;
	}

	.group label:not(:last-child) {
	  border-bottom: 1px solid #F0F5FA;
	}

	label > span {
	  width: 80px;
	  text-align: right;
	  margin-right: 30px;
	}

	.field {
	  background: transparent;
	  font-weight: 300;
	  border: 0;
	  color: #31325F;
	  outline: none;
	  flex: 1;
	  padding-right: 10px;
	  padding-left: 10px;
	  cursor: text;
	}

	.field::-webkit-input-placeholder { color: #CFD7E0; }
	.field::-moz-placeholder { color: #CFD7E0; }

	button {
	  float: left;
	  display: block;
	  background: #666EE8;
	  color: white;
	  border-radius: 4px;
	  border: 0;
	  margin-top: 20px;
	  font-size: 15px;
	  font-weight: 400;
	  width: 100%;
	  height: 40px;
	  line-height: 38px;
	  outline: none;
	}

	.outcome {
	  float: left;
	  width: 100%;
	  padding-top: 8px;
	  min-height: 24px;
	  text-align: center;
	}

	.success, .error {
	  display: none;
	  font-size: 13px;
	}

	.success.visible, .error.visible {
	  display: inline;
	}

	.error {
	  color: #E4584C;
	}

	.success {
	  color: #666EE8;
	}

	.success .token {
	  font-weight: 500;
	  font-size: 13px;
	}

	button{
		// display: inline-block;
		width: 100%;
		margin-top: 0em;
		background: rgba(35,181,233,0.85);
		color: #fff;
		border: 2px solid rgba(35,181,233,0.85);
		border-radius: 5px;
		text-transform: uppercase;
		padding: 0.4em 1.5em 0.5em;
	    font-size: 1.2em;
	    font-weight: 700;
	    line-height: 1em;
		-webkit-transition: background 0.5s ease-in-out;

		&:hover{
			text-decoration: none;
			color: #fff;
			@include grad-launch;
		}
	}
}