body{
	padding: 20px 0;
	background: #f9f9f9;
	font-size: 1.8em;
	font-family: 'Open Sans', sans-serif;
}

a{
	color: #00AAD3;
}

h1, h2{
	color: #003F62;
	font-family: 'Hammersmith One', sans-serif;
	text-transform: uppercase;
}

h1{
	font-size: 2.5em;
	text-align: center;
	padding-bottom: 15px;
	margin: 0 auto 25px;
	border-bottom: 1px solid #00AAD3;
}

#logo img{
	height: 75px;
}

h2{
	margin-bottom: 3px;
	font-size: 1.8em;
	margin-top: 34px;
}

h3{
	color: #00A9BB;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 22px;
	margin-bottom: 4px;
}

.container{
	max-width: 800px;
}

p, ul, label{
	color: #898989;
}

p{
	margin: 0 0 1em;
}

ul{
	margin-left: -20px;
}

strong{
	font-weight: 600;
}

.review-img{
	margin-bottom: 1em;
	text-align: center;
	padding: 1em;
	background: #fff;
	border-radius: 2px;

	img{
		// max-height: 175px;
	}
}

.highlight{
	font-weight: 600;
}

.fa-envelope{
	margin-right: 2px;
}

.footer-meta{
	border-top: 1px solid #009DCE;
	padding-top: 8px;
	margin: 40px 0 20px;
	text-align: center;
	font-size: 0.8em;
}

.pricing{
	color: #AEBBBD;
	margin-bottom: 8px;
	display: block;
}

.inline-button{
	display: inline-block;
	margin: -10px 10px 20px 0;
}

#audit-landing-page{
	.intro{
		font-size: 1.1em;
		line-height: 1.5em;
	}

	.pricing{
		display: inline-block;
		font-size: 1.5em;
		vertical-align: top;
		margin-left: 0.15em;
		line-height: 1em;
	}

	h3{
		margin-top: 2em;
	}

	li{
		margin-top: 0.35em;
	}

	ul.nested{
		li{
			margin-top: 0;
		}
	}
}

.review{
	color: #898989;
	font-size: 1em;
	font-style: italic;
	margin-top: 1em;

	.attribution{
		color: #AEBBBD;
		display: block;
		font-size: 0.8em;
		text-align: right;
		margin-top: 0.5em;
	}

	.review-img{
		display: inline-block;
		margin-right: 1em;
		width: 12%;
		vertical-align: top;

		img{
			vertical-align: top;
			border-radius: 4px;
			width: 100%;
		}
	}

	.review-text{
		display: inline-block;
		width: 82%;
	}
}

.button-note{
	a{
		color: #00A9BB;
		font-size: 0.8em;
	}
}

.service-section{
	margin-bottom: 2.2em;
}

#mc_embed_signup{
	form{
		text-align: left !important;
		margin-top: -10px;

		label{
			font-family: 'Open Sans', sans-serif;
			display: inline-block;
			margin-right: 0.5em;
		}	

		.button{
			font-family: 'Open Sans', sans-serif;
			text-transform: uppercase;
			background: #00A9BB;
		}
	}
}

#audit-landing-page{
	text-align: justify;

	#previews{
		img{
			max-width: 100%;
		}
	}

	h2{
		margin-bottom: 1em;
	}

	h5{
		text-align: center;
		font-weight: bold;
	}

	#mc_embed_signup{
		clear:left;
		margin-top: 1em;
		padding: 1em 3em;
		border-radius: 2px;
		font-family: 'Open Sans', sans-serif;
		border: 1px solid #00A9BB;

		p{
			color: #898989;
		}

		&.live-stream-form{
			background: #fff;
			text-align: center;
		}
	}
}